{% extends 'base.html' %} 
{% block content %} 
<div>
<h2>Incidencia</h2>
<ul>
<li><b><img src="https://media1.giphy.com/media/13Xkz5sLdjGiQw/200w.gif">IA 14: </b> {{ tshipIncidence }} de incidencia a 14 días</li>
<li><b><img src="https://media1.giphy.com/media/13Xkz5sLdjGiQw/200w.gif">Aumento: </b> {{ tshipAument }} nuevo(s) caso(s)</li>
<li><b><img src="https://media1.giphy.com/media/13Xkz5sLdjGiQw/200w.gif">Tasa a 7 días: </b>{{ tasa7days }}  de incidencia a 7 días</li>
</ul>
</div>

<div>
<h2>Fallecidos y recuperados totales</h2>
<ul>
                    <li><div class="overview_card-icon"><img src="https://media1.giphy.com/media/13Xkz5sLdjGiQw/200w.gif"><b>Recuperados totales: </b>{{recovered}}</div></li>
                    <li><div class="overview_card-icon"><img src="https://media1.giphy.com/media/13Xkz5sLdjGiQw/200w.gif"><b>Fallecidos totales: </b> {{deceased}}</div></li>
                </ul>
            </div>
        </div>

        <div class="flex-grid">
            <div>
                <h2>Aumento diario de contagios</h2> 
                <canvas class="responsive-canvas" id="pie-chart" width="350" height="230"></canvas>
            </div>
        </div>

  <script>
    var ctx = document.getElementById('pie-chart').getContext('2d');
    var data_1 = {
        datasets: [
        {
        borderWidth: 1,
        backgroundColor: "#f6e3bd",
        borderColor: "#99dcd1",
        fill: true,
        label: 'Confirmados 14 días',
        data: {{ confirmed14days|safe }}
        }
        ],
        labels: {{ labels|safe }}
        };

    var chart1 = new Chart(ctx, {
        type: 'line',
        data: data_1,
        options: {
                    responsive: true
                }
            });

  </script>
  {% endblock %}
</div>
