{% extends 'base.html' %}
{% block content %}
<div>
<h2>Lista de provincias</h2>
  {% for prov in provinces %}
  <a 
    href="{% url 'dash_province_detail_view' prov.pk %}"
    class="button button-pill"
    >{{ prov.name }}</a>
  {% endfor %}
   </div>
   </div>

        <div class="flex-grid">
            <div>
                <h2>Situación de los hospitales en cada provincia</h2> 
                <canvas class="responsive-canvas" id="pie-chart3" width="350" height="230"></canvas>
            </div>
            <div>
                <h2>Comparación de aumentos en cada provincia</h2> 
               <canvas class="responsive-canvas" id="pie-chart2" width="350" height="230"></canvas>
            </div>
        </div>

        <div class="flex-grid">
            <div>
                <h2>Evolución de la positividad</h2>
                <canvas class="responsive-canvas" id="pie-chart" width="350" height="230"></canvas>
            </div>

    <script>
                var ctx = document.getElementById('pie-chart2').getContext('2d');
                var data_1 = {
                    datasets: [{
                    fill: true,
                    backgroundColor: [
                        '#009688', '#3ea79a', '#5fb9ac', '#6ec1b5', '#86d0c4','#9edfd4','#b5eee4','#7ec6b9'
                      ],
                    label: 'Contagios en un día',
                    data: {{ provincesIncidence|safe }}
                    }],
                    labels: {{ labels|safe }}
                    };
                var chart1 = new Chart(ctx, {
                    type: 'pie',
                    data: data_1,
        options: {
            legend: {
                labels: {
                    fontColor: setColorText()
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: setColorText()
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: setColorText(),
                    }
                }]
            }
        }
                        });


      var ctx = document.getElementById("pie-chart").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
           labels: [
            "Almería",
            "Cádiz",
            "Córdoba",
            "Granada",
            "Huelva",
            "Jaén",
            "Málaga",
            "Sevilla",
          ],
          datasets: [{
            label: 'PCR 14 días',
            backgroundColor: "#70EBD6",
            data: {{pcr14days|safe}},
          }, {
            label: 'PCR 7 días',
            backgroundColor: "#45c490",
            data: {{pcr7days|safe}},
          }, {
            label: 'Curados',
            backgroundColor: "#2e5468",
            data: {{recovered|safe}},
          }],
        },
      options: {
          tooltips: {
            displayColors: true,
            callbacks:{
              mode: 'x',
            },
          },
          legend: {
                labels: {
                    fontColor: setColorText()
                }
            },
          scales: {
            xAxes: [{
              stacked: true,
              ticks: {
                fontColor: setColorText()},
              gridLines: {
                display: false,
              }
            }],
            yAxes: [{
              stacked: true,
              ticks: {
                fontColor: setColorText(),
                beginAtZero: true,
              },
              type: 'linear',
            }]
          },
          responsive: true,
          maintainAspectRatio: false
        }
      });

            var ctx_3 = document.getElementById('pie-chart3').getContext('2d');
            var data_3 = {
              datasets: [{
              backgroundColor: "#009688",
              label: 'IA 14 días',
              data: {{ tasa14dias|safe }}
              },
              {
              backgroundColor: "#6ec1b5",
              label: 'Curados',
              data: {{ recovered|safe }}
              }
              ],
              labels: {{ labels |safe }}
              };
            var chart3 = new Chart(ctx_3, {
               type: 'bar',
              data: data_3,
        options: {
            legend: {
                labels: {
                    fontColor: setColorText()
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: setColorText()
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: setColorText(),
                    }
                }]
            }
        }
                  });
    </script>
    {% endblock %}
  </div>
</div>
