{% extends 'base.html' %} {% block content %}
<div>
<h2>Incidencia</h2>
<div class="overview_card-icon">Tasa a 14 días {{tasaInc14}}</div>
<div class="overview_card-icon">Tasa a 7 días {{tasaInc7}}</div>
</div>
<div>
                <h2>Fallecidos y recuperados totales</h2>
                <ul>
                    <li><div class="overview_card-icon">Recuperados totales {{recovered}}</div></li>
                    <li><div class="overview_card-icon">Fallecidos totales {{deceased}}</div></li>
                </ul>
            </div>
            <div>
                <h2>Estado de los municipios</h2>
                    <p class="info_prov_detail">
      <b>Municipios +500 IA: </b> {{townships500|length }}
      <p class="show_info">{{townships500list}}</p>
    </p>
    <p class="info_prov_detail">
     <b>Municipios +100 IA </b> {{townships1000|length }}
        <p class="show_info">{{townships1000list}}</p>
            </div>
        </div>

        <div class="flex-grid">
            <div>
                <h2>Aumento de los contagios</h2> 
    <canvas
      class="responsive-canvas"
      id="pie-chart"
    ></canvas>
            </div>
            <div>
                <h2>Headline</h2> 
     <canvas
      class="responsive-canvas"
      id="pie-chart3"
    ></canvas>
            </div>
        </div>
  <script>
        var ctx = document.getElementById('pie-chart').getContext('2d');
        var data_1 = {
            datasets: [{
            fill: true,
            borderColor: "#99dcd1",
            fill: false,
            label: 'Contagios en un día',
            data: {{ dataAument|safe }}
            }],
            labels: {{ labels|safe }}
            };
        var chart1 = new Chart(ctx, {
            type: 'line',
            data: data_1,
        options: {
            legend: {
                labels: {
                    fontColor: setColorText()
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: setColorText()
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: setColorText(),
                    }
                }]
            }
        }
                });

          var ctx_3 = document.getElementById('pie-chart3').getContext('2d');
          var data_3 = {
            datasets: [{
            backgroundColor: "#009688",
            label: 'Hospitalizados Conv',
            data: {{ dataHospitalizedCounter|safe }}
            },
            {
            backgroundColor: "#6ec1b5",
            label: 'UCI',
            data: {{ dataICU|safe }}
            }
            ],
            labels: {{ labels |safe }}
            };
          var chart3 = new Chart(ctx_3, {
             type: 'bar',
            data: data_3,
        options: {
            legend: {
                labels: {
                    fontColor: setColorText()
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: setColorText()
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: setColorText(),
                    }
                }]
            }
        }
                });
                
  </script>
  {% endblock %}
</div>
